/*
            Title: Nav
            Use: Navigation CSS
            Author: Natalie Radt
            School/Term: Mizzou, Spring 2020
            Developed: April 17, 2020
            Tested:  May 10,2020; Passed on Safari and Chrome browsers.
            */
nav{float: left; z-index: 20;  }  
    nav ul 
        {list-style-type: none;
            margin: 0;
            padding: 0;z-index: 20;}
    nav>ul li 
        {position: relative; 
        text-align: center;
        font-weight: bold;
        z-index: 20;}
    nav ul li 
        {margin-bottom: 2px;
        color: black;
        background-color: white;z-index: 20;}
    nav a 
        {text-decoration: none;
        border: 2px solid darkgreen;
        padding: 20px 20px 20px 20px;
        display: block;
        width: 100px;
            z-index: 20;}
    nav a:link
        {background-color: white;}
    nav a:hover, nav a:focus 
        {background-color: greenyellow;}
    nav a:active
        {background-color: darkgrey;}
    nav ul>li ul 
        {position: absolute;
        margin-top: -40%;
        display: none; 
        left: 100%;
        z-index: 20;}
    nav>ul>li:hover>ul
        {display: block;}
    #menu-icon 
        {background: url(images/);
        display: none;
        width: 32px;
        height: 32px;}
@media only screen and (max-width: 640px)
        
{#menu-icon
    {
    display: inline-block;
   font-size: 30pt;
     }
nav ul, nav:active ul
    {display: none;}
nav:hover ul 
    {display: block;}
nav li 
    {padding: 0;
    margin: 0;}
#mobileHide
    {display: none;}
.projects:hover #mobileHide
    {display: block;}
}



