 /*
            Title: style.css
            Use: style html
            Author: Natalie Radt
            School/Term: Mizzou, Spring 2020
            Developed: April 4, 2020
            Tested:  May 12,2020; Passed on Safari and Chrome browsers.
            */
/*positioning the main 2-column layout for all pages*/
@font-face{
    font-family: Oxygen;
    src: url("Oxygen/Oxygen-Regular.ttf");
}
body
    {background-color: #EAFAF1;
    padding: 15px;
    margin: 25px;
    font-family:Oxygen, serif;} 
main{float: left;
    margin:0;
    padding: 2px;
    position: relative;
    display: inline-block;
    width: 80%;
    font-family:Oxygen, serif;
}
footer
    {border-top-style: dotted;
    padding: 15px;
    clear: both;
    background-image: url(images/footerbackground.jpg)}
/*positioning inner layout for the main section - this can vary across pages */

/*HomePage Contact Page Resume Page Background Page*/
header 
    {
    position: relative;
    font-size: 14pt;
    padding: 2px;
    margin: 0;
    width: 100%;
    font-family:Oxygen, serif;
    color: black;
}
#rightContent
{    
    display: inline-block;
    margin-top: 240px;
    padding: 2px;
    padding-left: 10px;
    width: 70%;
    float: left;
    font-family:Oxygen, serif;
    color: #0a250f;
    }

.image
    {
        
    padding: 10px;
    margin-top: 240px;
    float: left;
    
    }
/*specific HTML element styles no floats!*/
#activity
    {color: #0a250f;
    font-size: 32pt; 
    font-family: cursive; 
    text-shadow: 2px 2px grey;
    background-color: darkseagreen;
    padding: 1px;
    border: 1px solid green;
    margin: 10px;
    width: 250px;}
.iframe-container
    {padding-left: 150px;}
#copyright 
    {font-size: 10pt;}
#email 
    link{color: cornflowerblue;}
#email
    hover{color: cornflowerblue;}
#email
    active{color:green}
#email
    focus{color:red}
#email
    visited{color:purple}
#email
    {text-decoration: none;
    font-size: 10pt;}
main p:first-child::first-letter 
    {font-size: 150%;}
p:last-child
    {text-indent: 15px;}
#act
   {color: #002306; 
    font-size: 24pt; 
    font-family: inherit;
    padding: 1px;
    margin: 1px;}
.miz
    {font-family: inherit;
    padding: 1px;
    margin: 1px;}
.bullet
    {color: #002306;}
footer p
    {font-size: 14px;}
.logosbig
    {position: absolute;
    width: 0px;
    -webkit-transition:width 0.3s liner 0s;
    transition:width 0.3s linear 0s; 
    z-index: 10;}
    .logos:hover + .logosbig
        {width: 100px;}
.background
    {color: #0a250f;
    font-size: 12pt;}
#resume:link{color: cornflowerblue;
font-size: 15pt;
}
#resume:hover{color: blue;}
#resume:active{color:green;}
#resume:focus{color:red;}
#resume:visited{color: purple;}
 .icons8
                {width: 100%;
                font-size: 5pt;}
table{
    border-collapse: collapse;}
table th{
    text-align: left;
    background-color: darkgreen;
    color: #FFF;
    padding: 4px 30px 4px 8px;
}
table td{
    border: 1px solid black;
    padding: 4px 8px;
}
table tr:nth-child(odd) td{
    background-color: #d0f0c0;
}
 input [type=text], input [type=email], textarea 
    {width: 100%;
        padding:  10px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 16px;
        resize:  vertical;}
.name
{padding: 5px 5px 5px 5px;}
.email
{padding: 5px 5px 5px 5px;}
.message
{padding: 5px 5px 5px 5px;}

/*you only need one media query for these assignments -- make sure you use the same selectors we have above and adjust them as needed to fit the mobile layout*/
@media print {
    #rightContent{
        width: 58%;
        margin-top: 140px;
    }
    .image
        {margin-top: 170px;
        float: left;
        width: 200px;
        }
    nav
        {display: none;}
    .logos
        {display: none;}
    header
        {line-height: 25pt;}
    body{
        font-family: Oxygen, serif;
        font-size: 13pt;
        line-height: 17pt;
        background: none;
        color: #000;
    }
    aside,
    footer {
        background: none;
        width: 300%;
        border: none;
        padding: 0;
        margin: 0;
        color: #000;
    }
     
     #activity {
        border: none;
         background: none;
        line-height: 20pt;}
    a:link {
        margin: 0;
    }
    a::after {
        content: " [" attr(href) "]";
    }
    footer a:link{
        color: #000;
        background: none;
        font-size: 10pt;
    }
    section{
        font-size: 10pt;
    }
    div{
        font-size: 7pt;
    }
}
@media screen and (max-width: 640px)
    {body {width: 100%;}
        header {width: 80%;}
    main {width: 100%;
        font-size: 15pt;}
    p {width: 100%;
        font-size: 15pt;}
    blockquote {width: 100%;}
    ul {width: 100%;}
    footer {width: 100%;}
    #rightContent{margin-top:10px;}
.iframe-container
        {position: relative;
        width: 70%;
        padding-bottom: 56.25%;
        height: 0;}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
        }
.table {overflow: scroll;
            position: relative;}
input[type=text] 
    {width: 30%;
    margin-top: 0;}
input[type=email] 
    {width: 63%;
    margin-top: 10px;}
textarea
{width: 60%;
margin-top: 20px;}}


    
