 /*
            Title: Resume
            Use: Link to resume pdf
            Author: Natalie Radt
            School/Term: Mizzou, Spring 2020
            Developed: April 4, 2020
            Tested:  April 4,2020; Passed on Safari and Chrome browsers.
            */
#activity
    {color: #006633; 
    font-size: 32pt; 
    font-family: cursive; 
    text-shadow: 2px 2px grey;
    background-color: darkseagreen;
    width: 250px;
    padding: 1px;
    border: 100px blue;
    margin: 1px;}
#copyright 
    {font-size: 10pt;}
#email
    link{color: cornflowerblue;}
    hover{color: cornflowerblue;}
    active{color:green}
    focus{color:red}
    visited{color:purple}
#email
    {text-decoration: none;
    font-size: 10pt;}
#act
   {color: seagreen; 
    font-size: 24pt; 
    font-family: cursive;
    position: relative;
    padding: 1px;
    margin: 1px;}
.miz
    {position: relative;
    padding: 1px;
    margin: 1px;}
.bullet
    {color: forestgreen;}
.body
    {background-color: #EAFAF1;
    width: 500px;
    padding: 15px;
    margin: 25px;}
#image
    {position: relative;
    padding: 10px;
    margin: 10px;
    float: left;}
.foot
    {border-top-style: dotted;
    padding: 15px;}
.background
    {color: #0B3B17;
    font-size: 12pt;}
.header
    {background-color: darkseagreen;
    font-size: 15pt;
    width: 1000px;
    padding: 1px;
    border: 10px blue;
    margin: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color:black;
    border-width: 3px;}
#resume
    link{color: cornflowerblue;}
    hover{color: blue;}
    active{color:green}
    focus{color:red}
    visited{color:purple}
#h1
    {font-size:32pt;}
    
